/* style the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

@media (min-width: 900px) {
  .workspace-dashboard {
    position: fixed;
    top: 70px;
    right: 20px;
  }
}

@media (max-width: 899px) {
  .workspace-dashboard {
    position: relative;
  }
}
